extends layout/main
include ../blocks/mixins/mixins
include ../blocks/header/header
include ../blocks/main-nav/main-nav
include ../blocks/action/action
include ../blocks/stock-row/stock-row
include ../blocks/write/write
include ../blocks/problem/problem
include ../blocks/former/former
include ../blocks/member/member
include ../blocks/projects/projects
include ../blocks/tools/tools
include ../blocks/workflow/workflow
include ../blocks/team/team
include ../blocks/footer/footer
include ../blocks/quiz/quiz
include ../blocks/popups/popups
include ../blocks/reviews/reviews



block title
	title mh
block pagecontent
	+main-nav()
	+header()
	+action()
	+stock-row()
	+write-1('write--one')
	+problem()
	+write-2('write--two')
	+former()
	+reviews()
	+member-1()
	+projects2()
	+write-3('write--three')
	+member-2()
	+tools
	+member-3('suggestion')
	+workflow()
	+write-4('write--four')
	+team()
	+footer()
	+quiz()
	+popups()