include ../../_assets/bemto/bemto
- set_bemto_settings({ modifier: "--" })


doctype html
html(lang="ru")
    head
        meta(charset="utf-8")
        block title
            title title
        meta(name="description", content="mh")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(property='og:image', content='path/to/image.jpg')
        link(rel='shortcut icon',   type="image/png",  href='img/favicon/favicon.ico')
        meta(name='theme-color', content='#b9a783')
        link(rel="stylesheet", type="text/css", href="css/style.min.css")
        script(src="js/jquery.js" defer)
        script(src="js/jquery.inputmask.min.js" defer)
        script(src="js/magnific-popup.js" defer)
        script(src="js/swiper-bundle.min.js" defer)
        script(src="js/select2.min.js" defer)
        script(src="js/main.js" defer)
        script(type='text/javascript').
            !function () {
                var t = document.createElement("script");
                t.type = "text/javascript", t.async = !0, t.src = "https://vk.com/js/api/openapi.js?168", t.onload = function () {
                    VK.Retargeting.Init("VK-RTRG-837399-aNYCT"), VK.Retargeting.Hit()
                }, document.head.appendChild(t)
            }();
        noscript
            img(src='https://vk.com/rtrg?p=VK-RTRG-837399-aNYCT' alt='')
        script.
            !function (w, d, t) {
                w.TiktokAnalyticsObject = t;
                var ttq = w[t] = w[t] || [];
                ttq.methods = ["page", "track", "identify", "instances", "debug", "on", "off", "once", "ready", "alias", "group", "enableCookie", "disableCookie"], ttq.setAndDefer = function (t, e) {
                    t[e] = function () {
                        t.push([e].concat(Array.prototype.slice.call(arguments, 0)))
                    }
                };
                for (var i = 0; i < ttq.methods.length; i++) ttq.setAndDefer(ttq, ttq.methods[i]);
                ttq.instance = function (t) {
                    for (var e = ttq._i[t] || [], n = 0; n < ttq.methods.length; n++) ttq.setAndDefer(e, ttq.methods[n]);
                    return e
                }, ttq.load = function (e, n) {
                    var i = "https://analytics.tiktok.com/i18n/pixel/events.js";
                    ttq._i = ttq._i || {}, ttq._i[e] = [], ttq._i[e]._u = i, ttq._t = ttq._t || {}, ttq._t[e] = +new Date, ttq._o = ttq._o || {}, ttq._o[e] = n || {};
                    var o = document.createElement("script");
                    o.type = "text/javascript", o.async = !0, o.src = i + "?sdkid=" + e + "&lib=" + t;
                    var a = document.getElementsByTagName("script")[0];
                    a.parentNode.insertBefore(o, a)
                };
                ttq.load('C58U6OFB3D4MMMSM6LAG');
                ttq.page();
            }(window, document, 'ttq');




    body.page-body
        .main-wrapper
            block pagecontent