include ../../_assets/bemto/bemto
- set_bemto_settings({ modifier: "--" })


doctype html
html(lang="ru")
    head
        meta(charset="utf-8")
        block title
            title title
        meta(name="description", content="mh")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(property='og:image', content='path/to/image.jpg')
        link(rel='shortcut icon',   type="image/png",  href='img/favicon/favicon.ico')
        meta(name='theme-color', content='#b9a783')
        link(rel="stylesheet", type="text/css", href="css/style.min.css")
        script(src="js/jquery.js" defer)
        script(src="js/jquery.inputmask.min.js" defer)
        script(src="js/magnific-popup.js" defer)
        script(src="js/main.js" defer)

    body.page-body
        .main-wrapper
            block pagecontent
                h3 content