mixin main-nav()
	// start main-nav
	+b.NAV.main-nav
		.container
			+e.BUTTON.close
			+e.UL.list
				+e.LI.item
					+e.A.link.animate-scroll(href='#top') главная
				+e.LI.item
					+e.A.link.animate-scroll(href='#problem') Проблемы
				+e.LI.item
					+e.A.link.animate-scroll(href='#projects') кейсы
				+e.LI.item
					+e.A.link.animate-scroll(href='#tools') решения
				+e.LI.item
					+e.A.link.animate-scroll(href='#suggestion') индивидуальное <br>предложение



	// end main-nav
