.write {
  background-color: white;
  color: #000000;
  margin-bottom: 43px;


  &__wrapper {
    padding-top: 24px;
    padding-bottom: 25px;
  }

  &__title {
    font-size: 16px;
    line-height: 140%;
    margin-bottom: 15px;
    font-weight: normal;

    .accent {
      color: black;
      font-weight: 900;
      font-style: italic;
    }
  }

  &__subtitle {
    font-size: 12px;
    line-height: 140%;
    margin-bottom: 47px;
  }

  &__img-wrapper {
    display: none;
  }

  &__send {
    margin-bottom: 15px;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 14px;
    line-height: 18px;
  }

  &__agreement {
    font-size: 10px;
    line-height: 13px;
    color: #797979;
    text-align: center;
    display: block;
    padding-left: 30px;
    padding-right: 30px;
  }

  &--one {
    margin-bottom: 110px;
    background-color: transparent;

    .write {
      &__wrapper {
        background-color: white;
        color: #000000;
        border-radius: 20px;
        padding-left: 15px;
        padding-right: 15px;
      }

      &__title {
        font-size: 14px;
      }
    }
  }

  @include media-breakpoint-up(lg) {
    background-color: transparent;
    margin-bottom: 144px;
    &__wrapper {
      background-color: white;
      color: #000000;
      border-radius: 20px;
      padding-top: 52px;
      padding-left: 70px;
      padding-right: 40px;
      padding-bottom: 58px;
      position: relative;
    }
    &__top-wrapper{
      max-width: 604px;
      position: relative;
      z-index: 2;
    }

    &__title {
      font-size: 24px;
      line-height: 140%;
      max-width: 574px;
      margin-bottom: 21px;
    }
    &__subtitle{
      font-size: 18px;
      line-height: 140%;
      margin-bottom: 39px;
    }

    &__form-wrapper {
      display: flex;
      flex-wrap: wrap;
      position: relative;
      z-index: 2;

    }

    .label {
      max-width: 298px;
      margin-right: 8px;
    }
    .select{
      max-width: 298px;
      margin-right: 8px;
      max-height: 74px;
    }

    &__send {
      max-width: 298px;
    }

    &__agreement {
      width: 100%;
      text-align: left;
      font-size: 12px;
      line-height: 15px;
      padding-left: 0;
    }

    &__img-wrapper {
      display: block;
      position: absolute;
      right: 40px;
      bottom: 13px;
    }

    &--one {
      margin-bottom: 105px;
      .write {
        &__wrapper {
          padding-top: 52px;
          padding-left: 70px;
          padding-right: 40px;
          padding-bottom: 58px;
        }

        &__title {
          font-size: 24px;
          line-height: 140%;
        }
      }
    }
    &--two{
      .write {
        &__img-wrapper{
          z-index: 0;
          bottom: 63px;
        }
      }
    }
    &--three{
      margin-bottom: 109px;
      .write {
        &__img-wrapper{
          z-index: 0;
          bottom: 17px;
          right: 32px;
          max-width: 471px;
        }
      }
      .label{
        max-width: 367px;
      }
    }
    &--four{
      margin-bottom: 136px;
      .write {
        &__top-wrapper{
          max-width: 650px;
        }
        &__title{
          width: 100%;
          max-width: 650px;
        }
        &__img-wrapper{
          z-index: 0;
          bottom: 41px;
          right: -56px;
          max-width: 572px;
        }
      }
      .label{
        max-width: 367px;
      }
    }
  }
}