.team {
  margin-top: 108px;
  margin-bottom: 31px;
  &__link{
    font-weight: 900;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    text-transform: uppercase;
    padding-left: 25px;
    padding-right: 25px;
    margin-bottom: 8px;
  }
  &__img-wrapper{
    margin-left: -20px;
    margin-right: -20px;
  }
  @include media-breakpoint-up(lg){
    margin-bottom: 0;
    &__link{
      max-width: 340px;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: -15px;
      padding-left: 35px;
      padding-right: 35px;
    }
    &__img-wrapper{
      max-width: 1005px;
      margin-left: auto;
      margin-right: auto;
    }
  }
}