mixin team()
	// start team
	+b.SECTION.team
		.container
			+e.A.link.btn(href='https://vk.com/@-193322269-kostyak-komandy-marketinghouse' target="_blank") Узнать подробнее 	о команде MarketingHouse
			+e.img-wrapper
				+img('team-mobile.png', 'team.png')

	// end team