mixin radioBtn(name, value, checked)
	+b.LABEL.radio
		+e.INPUT.input(type='radio' name= name id= value value= value  checked= checked)= value
		+e.label= value

mixin quiz()
	// start quiz
	+b.FORM.quiz#quiz.mfp-hide(action='send6.php' method="post")
		+e.wrapper
			+e.progress-wrapper
				+e.progress-question Вопрос&nbsp
					+e.SPAN.progress-step    1
					|
					+e.SPAN.progress-all   из   5
				+e.progress-line
					+e.progress-line-done(style='width: 5%')
			+e.step--one.quiz__step--active
				+e.H3.title Каким видом бизнеса занимаетесь?
				+e.answers
					+radioBtn('typeOfBusiness','Оптовик')
					+radioBtn('typeOfBusiness','Онлайн-школа')
					+radioBtn('typeOfBusiness','Розница')
					+radioBtn('typeOfBusiness','Сфера услуг')
					+radioBtn('typeOfBusiness','Производство')
			+e.step--two
				+e.H3.title Какую проблему на данный момент хотите решить?
				+e.answers
					+radioBtn('problem','Увеличить количество целевых заявок')
					+radioBtn('problem','Масштабироваться с помощью новых инструментов рекламы')
					+radioBtn('problem','Увеличить конверсию в продажу')
					+radioBtn('problem','Начать использовать рекламу в интернете')
			+e.step--three
				+e.H3.title Запускали рекламу в интернете?
				+e.answers
					+radioBtn('runAds','Сам настраивал')
					+radioBtn('runAds','Нанимал подрядчиков')
					+radioBtn('runAds','Не запускал')
			+e.step--four
				+e.H3.title Есть сайт вашего бизнеса?
				+e.answers
					+radioBtn('site','Да')
					+radioBtn('site','Нет')
					+radioBtn('site','Нужен сайт')
			+e.step--five
				+e.H3.title Ведёте социальные сети для бизнеса?
				+e.answers
					+radioBtn('soc','Да')
					+radioBtn('soc','Нет')
					+radioBtn('soc','Думаю начать')
			+e.step--six
				+e.H3.title Чтобы маркетолог подготовил индивидуальное предложение под ваш проект заполните форму
				+e.subtitle
					span.accent Бонус:
					|   на ваш WhatsApp придёт pdf «Построение RDB-модели для эффективной рекламы»
				+e.answers--form
					label.label
						input.input.input--phone(type='text' placeholder='Введите номер телефона' name='phone')
					label.label
						input.input(type='text' placeholder='Введите имя' name='name')
					button.send.btn.btn-send Получить предложение
					.agreement Нажимая на кнопку, вы даете согласие на обработку персональных данных
			+e.BUTTON.btn-close(disabled)
				+icon('arrow-left')
				span Назад






	// end quiz