mixin header()
	// start header
	+b.HEADER.header#top
		.container
			+e.wrapper
				+e.BUTTON.nav-toggle
					span
				+e.logo-wrapper
					+e.IMG.logo(src='img/header-logo.svg' width='90' alt='logo')
				+e.callback-wrapper
					+e.A.callback-link(href='tel:+77771234567')
						+icon('phone')
						span +7 777 123 45 67
				+e.A.consultation.animate-scroll(href='#') 	консультация маркетолога
				+e.digital Digital-агентство MarketingHouse


	// end header
