mixin header()
	// start header
	+b.HEADER.header#top
		.container
			+e.wrapper
				+e.BUTTON.nav-toggle
					span
				+e.logo-wrapper
					+e.IMG.logo(src='img/header-logo.svg' width='90' alt='logo')
				+e.callback-wrapper
					+e.A.callback-link(href='tel:+79111649441')
						+icon('phone')
						span  +7 911 164 94 41
				+e.A.consultation.popup-with-zoom-anim(href='#callback-popup') 	консультация маркетолога
				+e.digital Digital-агентство MarketingHouse


	// end header
