.header {
  margin-bottom: 35px;
  &__wrapper{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }
  &__logo-wrapper{
    margin-left: auto;
    margin-right: auto;
  }
  &__callback-link{
    &:hover{
     opacity: .8;
    }
    &:active{
      opacity: .6;
    }
    &:focus,
    &:active{
      outline: none;
    }
    span{
      display: none;
    }
  }
  &__consultation{
    display: none;
    font-size: 12px;
    line-height: 15px;
    font-weight: 900;
    text-transform: uppercase;
    &:hover{
      background: #F07281;
      border-color: #F07281;
    }
    &:active{
      background: #CC4555;;
      border-color: #CC4555;;
    }
  }
  &__nav-toggle{
    width: 25px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 15px;
    height: 11px;
    background-color: transparent;
    border-radius: 0;
    padding: 0;
    span{
      background-color: white;
      height: 1px;
      display: block;
      width: 100%;
    }
    &:before,
    &:after{
      position: absolute;
      display: block;
      content: '';
      width: 100%;
      height: 1px;
      background-color: white;
      left: 0;
    }
    &:before{
      top: 0;
    }
    &:after{
      bottom: 0;
    }
  }
  &__digital{
    width: 100%;
    text-align: center;
    font-size: 8px;
    line-height: 10px;
  }

  @include media-breakpoint-up(lg){
    padding-top: 17px;
    &__nav-toggle{
      margin-right: 35px;
      order: 1;
    }
    &__logo-wrapper{
      margin-left: 0;
      order: 2;
      margin-right: 61px;
    }
    &__logo{
      width: 144px;
    }
    &__digital{
      order: 3;
      width: auto;
      flex-grow: 1;
      text-align: left;
      font-size: 14px;
      line-height: 18px;
    }
    &__callback-wrapper{
      order: 4;
    }
    &__consultation{
      order: 5;
      display: block;
      padding: 18px 24px;
      border-radius: 5px;
      border: 1px solid #F07281;
    }
    &__callback-link{
      margin-right: 40px;
      display: flex;
      align-items: center;
      span{
        display: inline-block;
        font-size: 26px;
        line-height: 33px;
        text-transform: uppercase;
      }
      .icon{
        margin-right: 13px;
      }
    }
  }
}
