mixin footer()
	// start footer
	+b.FOOTER.footer
		.container
			+e.wrapper
				+e.logo-wrapper
					+e.IMG.logo(src='img/footer-logo.svg' alt='logo' width='144')
				+e.P.copyright  Digital-агентство MarketingHouse
				+e.A.callback-link(href='tel:+77771234567')
					+icon('phone')
					| +7 777 123 45 67
				+e.A.consultation-link.popup-with-zoom-anim(href='#callback-popup' ) консультация маркетолога
			+e.wrapper--contacts
				p.text ИП Смирнов Антон Сергеевич
				p.text Адрес: 196620, г. Санкт-Петербург ИНН: 782092277719
				a.text(href='https://vk.com/mhouseru') Политика конфиденциальности
				+e.A.consultation-link.popup-with-zoom-anim(href='https://vk.com/mhouseru' ) ВКонтакте


	// end footer