mixin workflow()
	// start workflow
	+b.SECTION.workflow.animate(data-animation="fadeInUp")
		.container
			+e.H2.title Наймите
				span.accent  наших экспертов
				|  в свой отдел маркетинга
			+e.img-wrapper
				+img('steps-mobile.svg', 'steps.svg')

	// end workflow