body {
  font-family: $default-font;
  color: white;
  background: #1F2933;
  overflow-x: hidden;
  max-width: 100vw;
}

h1 {
  font-weight: 900;
  font-size: 40px;
  line-height: 97.6%;
  text-transform: uppercase;
  margin-bottom: 12px;
  @include media-breakpoint-up(lg) {
    font-size: 86px;
    line-height: 97.6%;
  }
}

a {
  text-decoration: none;
  color: inherit;
  transition: .2s;
  &:hover{
    text-decoration: none;
  }
}

img {
  max-width: 100%;
  height: auto;
}

button {
  border-radius: 5px;
  border: none;
  box-shadow: none;
  transition: .2s;
}

button,
input,
a {
  &:focus,
  &:active {
    outline: none;
  }
}

.btn {
  border-radius: 5px;
  border: none;
  box-shadow: none;
  padding-left: 15px;
  padding-right: 15px;
  min-height: 74px;
  color: white;
  background: #00CB5D;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  transition: .2s;
  &:hover{
    background: #00B051;
    color: white;
    text-decoration: none;
  }
  &:active{
    background: #009142;
  }
}

.label {
  width: 100%;
  display: block;
}

.input {
  background: #E4E4E4;
  border-radius: 5px;
  min-height: 74px;
  padding-left: 18px;
  padding-right: 15px;
  display: flex;
  align-items: center;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  border: none;
  outline: none;
  width: 100%;
  margin-bottom: 7px;

  &::placeholder {
    opacity: .5;
  }

  &--phone {

  }
}

.select{
  background: #E4E4E4;
  border-radius: 5px;
  min-height: 74px;
  padding-left: 18px;
  padding-right: 15px;
  display: flex;
  align-items: center;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  border: none;
  outline: none;
  width: 100%;
  margin-bottom: 7px;

}

.icon {
  &-phone {
    width: 18px;
    height: 18px;
  }
  &-lide-decor-1{
    width: 12px;
    height: 23px;
  }
  &-lide-decor-2{
    width: 12px;
    height: 23px;
  }
  &-lightning{
    width: 8px;
    height: 10px;
  }
}

.accent{
  color: $accent;
}