body {
  font-family: $default-font;
  color: white;
  background: #1F2933;
  overflow-x: hidden;
  max-width: 100vw;
}

.main-wrapper{
  overflow-x: hidden;
  max-width: 100vw;
}

h1 {
  font-weight: 900;
  font-size: 40px;
  line-height: 97.6%;
  text-transform: uppercase;
  margin-bottom: 12px;
  @include media-breakpoint-up(lg) {
    font-size: 86px;
    line-height: 97.6%;
  }
}

h2 {
  font-size: 25px;
  @include media-breakpoint-up(lg) {
    font-weight: 900;
    font-size: 50px;
    line-height: 130%;
  }
}

a {
  text-decoration: none;
  color: inherit;
  transition: .2s;

  &:hover {
    text-decoration: none;
    color: inherit;
  }
}

img {
  max-width: 100%;
  height: auto;
}

button {
  border-radius: 5px;
  border: none;
  box-shadow: none;
  transition: .2s;
}

button,
input,
a {
  &:focus,
  &:active {
    outline: none;
  }
}

.btn {
  border-radius: 5px;
  border: none;
  box-shadow: none;
  padding-left: 15px;
  padding-right: 15px;
  min-height: 74px;
  color: white;
  background: #00CB5D;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  transition: .2s;

  &:hover {
    background: #00B051;
    color: white;
    text-decoration: none;
  }

  &:active {
    background: #009142;
  }
}

.label {
  width: 100%;
  display: block;
}

.input {
  background: #E4E4E4;
  border-radius: 5px;
  min-height: 74px;
  padding-left: 18px;
  padding-right: 15px;
  display: flex;
  align-items: center;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  border: none;
  outline: none;
  width: 100%;
  margin-bottom: 7px;

  &::placeholder {
    opacity: .5;
  }

  &--phone {

  }
}

.select {
  background: #E4E4E4;
  border-radius: 5px;
  min-height: 74px;
  padding-left: 18px;
  padding-right: 15px;
  display: flex;
  align-items: center;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  border: none;
  outline: none;
  width: 100%;
  margin-bottom: 7px;

}

.icon {
  &-phone {
    width: 18px;
    height: 18px;
  }

  &-lide-decor-1 {
    width: 12px;
    height: 23px;
  }

  &-lide-decor-2 {
    width: 12px;
    height: 23px;
  }

  &-lightning {
    width: 8px;
    height: 10px;
  }

  &-arrow-left {
    width: 10px;
    height: 5px;
  }
}

.accent {
  color: $accent;
}

.radio {
  padding: 11px 14px;
  border: 1px solid #D1D1D1;
  border-radius: 5px;

  &__input {
    display: none;

    &:checked + .radio__label {
      &:after {
        opacity: 1;
      }

      &:before {
        border: 1px solid #000000;
      }
    }
  }

  &__label {
    position: relative;
    padding-left: 30px;
    cursor: pointer;
    font-weight: normal;
    font-size: 14px;
    line-height: 130%;
    user-select: none;
    display: block;

    &:before {
      position: absolute;
      display: block;
      content: '';
      width: 16px;
      height: 16px;
      border: 1px solid rgba(0, 0, 0, 0.3);
      border-radius: 50%;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      transition: .2s;
    }

    &:after {
      position: absolute;
      display: block;
      content: '';
      width: 10px;
      height: 10px;
      border-radius: 50%;
      left: 3px;
      top: 50%;
      transform: translateY(-50%);
      background: #00CB5D;
      opacity: 0;
      transition: .2s;
    }
  }

  @include media-breakpoint-up(lg) {
    padding: 20px 23px 20px 14px;
    &__label {
      font-size: 16px;
      line-height: 130%;
      padding-left: 35px;

      &:before {
        width: 23px;
        height: 23px;
      }

      &:after {
        width: 15px;
        height: 15px;
        left: 4px;
      }
    }
  }
}

.animate {
  opacity: 0;

  &__animated {
    opacity: 1;
  }
}

.select2-container--default .select2-selection--single {
  border-radius: 5px;
  background: #E4E4E4;
  margin-bottom: 8px;
  min-height: 74px;
  display: flex;
  align-items: center;
  border: none;
  padding-left: 10px;

  &:focus,
  &:active {
    outline: none;
  }

}

.select2-container--default .select2-selection--single .select2-selection__rendered {
  font-size: 16px;
  line-height: 20px;
  color: rgba(0, 0, 0, .5);
}


.select2-results {
  background: #E4E4E4;
  color: rgba(0, 0, 0, .5);
  border-radius: 5px;
}

.select2-dropdown {
  border: none;
  background: #E4E4E4;
  color: rgba(0, 0, 0, .5);
  margin-top: -15px;

}

.select2-results__option {
  padding-left: 15px;
}

.select2-results__option--highlighted {
  border-radius: 5px;
}

.select2-selection--single {
  position: relative;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
  top: 50%;
  transform: translateY(-50%);
  right: 18px;
  width: 11px;
  height: 6px;
  transition: .2s;

  b {
    display: none;
  }

  &:after,
  &:before {
    position: absolute;
    display: block;
    content: '';
    width: 100%;
    height: 1px;
    background-color: black;
  }
  &:after{
    transform: rotate(-45deg) translateX(-2px);
    left: 50%;

  }
  &:before {
    transform: rotate(45deg) translateX(2px);
    right: 50%;
  }
}

.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow{
  transform: rotate(180deg) translateY(100%);
}