.former {
  margin-bottom: 86px;

  &__title {
    margin-bottom: 16px;
    font-weight: 900;
    font-size: 25px;
    line-height: 97.6%;
    text-transform: uppercase;
  }

  &__subtitle {
    margin-bottom: 44px;
    font-weight: 900;
    font-size: 16px;
    line-height: 97.6%;
    text-transform: uppercase;
  }

  &__item {
    margin-bottom: 58px;
  }

  &__number {
    font-weight: 900;
    font-size: 40px;
    line-height: 97.6%;
    text-transform: uppercase;
    display: inline-block;
    margin-bottom: 12px;
  }

  &__text {
    font-size: 12px;
    line-height: 140%;
    margin-bottom: 12px;
  }

  &__btn {
    min-height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $accent;
    padding-left: 16px;
    padding-right: 16px;
    text-align: center;
    font-weight: 900;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    transition: .2s;
    &:hover,
    &:active{
      background-color: $accent;
    }
  }

  @include media-breakpoint-up(lg) {
    margin-bottom: 124px;
    &__title {
      font-size: 65px;
      line-height: 97.6%;
      max-width: 790px;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 45px;
    }
    &__subtitle {
      font-size: 38px;
      line-height: 97.6%;
      max-width: 790px;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 90px;
    }
    &__item {
      max-width: 730px;
      margin-left: auto;
      margin-right: auto;
      display: flex;
      margin-bottom: 100px;
    }
    &__number {
      font-size: 115px;
      line-height: 97.6%;
      margin-right: 15px;
      max-width: 190px;
      width: 100%;
    }
    &__text {
      font-size: 24px;
      line-height: 140%;
      margin-bottom: 27px;
    }
    &__btn {
      max-width: 368px;
      height: 74px;
      padding-left: 45px;
      padding-right: 45px;
      font-size: 14px;
      line-height: 18px;
    }
  }
}