mixin item(number, text, btnText)
	+e.item.animate(data-animation="fadeInUp")
		+e.SPAN.number= number
		+e.content-wrapper
			+e.P.text= text
			+e.A.btn.btn(href="#")= btnText
mixin  former()
	// start former
	+b.SECTION.former
		.container
			+e.H2.title Мне
				span.accent  не важно
				| , какие маркетологи у вас были до меня.
			+e.P.subtitle Вы после меня забудете их имена.
			+e.list
				+item('01.', 'Разбор вашего: продукта / услуги, сегментов аудитории, конкурентов для отстройки и повышению конверсии в продажу', 'Получаете готовый PDF-файл с разбором')
				+item('02.', 'Рекомендация по упаковке сайта / лендинга, соц. сетей, посадочных страниц для повышения конверсии в заявку', 'Получаете готовый PDF-файл с рекомендациями')
				+item('03.', 'Готовые рекламные кампании под ключ с ежедневной аналитикой, оптимизацией и отчётом', 'Получаете готовый PDF-файл с текущими метриками кампаний')
				+item('04.', 'Личный аккаунт менеджер, который в рабочее время (а зачастую и после) ответит на все ваши вопросы', 'Общий чат в мессенджере и личная связь по телефону')

	// end former