mixin stock-row()
	// start stock-row
	+b.SECTION.stock-row.animate(data-animation="fadeInRight")
		.container
			+e.wrapper
				+e.H2.title Акция!
				+e.H2.old-cost 3 000 ₽
				+e.H2.new-cost 900 ₽

	// end stock-row