mixin popups()
	+b.popup.mfp-hide#callback-popup
		+e.wrapper
			+e.H2.title Заполните форму и мы вам перезвоним через 6 мин
			+e.FORM.form(action="send1.php" method="post")
				label.label
					input.input(type='text' placeholder='Имя' name='name' required)
				label.label
					input.input.input--phone(type='text' placeholder='Номер телефона WhatsApp' name='phone' required)
				+e.BUTTON.send.btn.btn-send записаться на разбор
				+e.agreement Нажимая на кнопку, вы даете согласие на обработку персональных данных

	+b.popup--suggestion.mfp-hide#suggestion-popup
		+e.wrapper
			+member-3()
