mixin action()
	// start action
	+b.SECTION.action
		.container
			+e.left
				+e.H1.title Увеличим <br>продажи<br> в бизнесе
				+e.P.subtitle  Индивидуальный разбор с маркетологом
				+e.UL.list
					+e.LI.item Разбор соц. сетей/сайта/посадочных/страниц/рекламы
					+e.LI.item Проработка маркетинговой стратегии
					+e.LI.item Связки digital-рекламы для вашей ниши
					+e.LI.item 45 мин. общения с маркетологом и общий чат
			+e.right
				+e.chart-wrapper
					+e.IMG.chart(src='img/chart1.svg' width='')



	// end action