.action {
  &__subtitle {
    color: #242424;
    font-weight: 900;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    background-color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 24px;
    display: inline-block;
    border-radius: 5px;
    margin-bottom: 30px;
  }

  &__chart-wrapper {
    margin-bottom: 30px;
  }
  &__img{
    width: 100%;
  }

  &__list {
    list-style: none;
    padding: 0;
    margin: 0;
    margin-bottom: 38px;
  }

  &__item {
    font-size: 12px;
    line-height: 15px;
    margin-bottom: 10px;
    padding-left: 16px;
    position: relative;

    &:before {
      position: absolute;
      display: block;
      content: '';
      width: 5px;
      height: 5px;
      border-radius: 50%;
      background-color: $accent;
      left: 0;
      top: .5em;
    }
  }

  @include media-breakpoint-up(lg) {
    margin-bottom: 66px;
    .container {
      position: relative;
    }
    &__left {
      max-width: 45%;
    }

    &__title {
      margin-bottom: 80px;
    }

    &__subtitle {
      font-weight: 900;
      font-size: 18px;
      line-height: 23px;
      text-transform: uppercase;
      color: #242424;
      margin-bottom: 45px;
    }

    &__chart-wrapper {
      position: absolute;
      right: 20px;
      max-width: 55%;
      top: 15px;
    }
    &__list{
      margin-bottom: 0;
    }
    &__item {
      font-size: 18px;
      line-height: 200%;
      margin-bottom: 0;

      &:before {
        width: 9px;
        height: 9px;
        top: 14px;
      }
    }
    &__img{
      width: auto;
    }
  }
}