mixin action()
	// start action
	+b.SECTION.action.animate(data-animation="fadeInLeft")
		.container
			+e.left
				+e.H1.title Увеличим <br>продажи<br> в
					span.accent  бизнесе
				+e.P.subtitle  Индивидуальный разбор с маркетологом
				+e.chart-wrapper
					+img('chart1-mobile.svg', 'chart1.svg')
				+e.UL.list
					+e.LI.item Разбор соц. сетей/сайта/посадочных/страниц/рекламы
					+e.LI.item Проработка маркетинговой стратегии
					+e.LI.item Связки digital-рекламы для вашей ниши
					+e.LI.item 45 мин. общения с маркетологом и общий чат
			+e.right




	// end action